- require("bootstrap");
- require("./body.css");
.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="http://shama.github.com/jmpress.js")
				| jmpress.js
				span= " " + require("../../package.json").version
			.nav-collapse
				ul.nav
					li.dropdown
						a.dropdown-toggle(href="#docs-index", data-toggle="dropdown")
							| Docs
							b.caret
					ul.dropdown-menu!= require("../../src/docs-nav.jade")()
					li: a(href="#builder") Custom Downloader
.page
//
// IGNORE BELOW THIS LINE
//
div(style="position: fixed; bottom: 5px; left: 10px; pointer-events: auto;")
	| CAUTION:
	br
	| THIS IS A BETA VERSION OF <a href="http://shama.github.com/jmpress.js">SHAMA/JMPRESS.JS</a>.
	br
